:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    }

.container {
   
    border: 1px solid black;
    height: 1000px;
    width: 390px;
    margin-left: 480px;
    background-color: rgb(255, 255, 255);


}

.heading{

    height: 65px;
    width: 390px;
    padding: auto;
    background-color: #151B54;
    position: fixed;
    top: 0;
    


}

.heading img{

    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.heading h1{

    color: var(--color-white);
    font-size: 15px;
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
    
}


/*--------------------down-section section styling here-----------------------------*/

.down-section{

    position: fixed;
    bottom: 0;
    height: auto;
    width: 390px;

}

.down-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.down-section li{
    flex: 1;
    text-align: center;
    border-left: 1px solid #ccc;
    
}
.down-section li:first-child{
    border-left: none;
  

}




.down-section a{
    display: block;
    padding: 12px 0;
    background-color: #151B54 ;
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-family: sans-serif;
    

}

.down-section a:hover{
    background-color: #010527;
    
}


/*--------------------Image section styling here-----------------------------*/

.image-section p{

    margin-top: 60px;
    margin-left: 80px;
    font-size: 12px;
    color: red;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.image-section img{

   
    height: 40px;
    width: 100px;
   object-fit: fill;
   margin-left: 140px;
    margin-top: -10px;
    
    
}

.image-section h1{

    text-align: center;
    font-size: 10px;
    margin-top: -5px;
    color: red;
}

/*--------------------budget-friendly section styling here-----------------------------*/

.budget-container{

    height: 150px;
    width: 370px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);

 

}

.budget-container h1{

    text-align: center;
    font-size: 16px;
    margin-top: 0;
    color: red;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.budget-container h2{

    font-size: 12px;
    margin-top: 0;
    margin-left: 5px;
    text-align: center;
    color: #151B54;
    letter-spacing: 0.8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.budget-container h3{

    font-size: 12px;
    margin-top: 0;
    margin-left: 10px;
    font-weight: 400;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*--------------------quality section styling here-----------------------------*/

.quality-container{

    height: 420px;
    width: 370px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);


}

.quality-container h1{

    text-align: center;
    font-size: 16px;
    margin-top: 0;
    color: red;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quality-container h2{

    font-size: 12px;
    margin-top: 0;
    margin-left: 5px;
    text-align: center;
    color: #151B54;
    letter-spacing: 0.8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quality-container h3{

    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.quality-container h4{

    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: 600;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.adhesives{

    height: 90px;
    width: 160px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.plywood{

    height: 90px;
    width: 160px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.hardware{

    height: 90px;
    width: 160px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.laminates{

    height: 90px;
    width: 160px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

}



@media only screen and (max-width: 600px) {

    .container{

        margin-left: -8px;
        border: none;
        width: 100%;
        height: 1000px;

    }

    .image-section{

        margin-top: 75px;
    }

 
    .budget-container{

    
        height: auto;
        margin-left: 10px;
    }

    .down-section{

        position: fixed;
        bottom: 0;
    }

}
